<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Markdown Notebook</title>
	
	<!-- custom css -->
	<link rel="stylesheet" href="css/style.css">
	<!-- bootstrap -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<!-- mdi -->
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/5.2.45/css/materialdesignicons.min.css"/>
	<!-- vuejs -->
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
	
	<div id="notebook">

		<!-- sidebar -->		
		<div class="sidebar" 
			v-if="sidebarVisible" 
			:class="{ show: sidebarVisible }" 
			@click.self="openSidebar(false)"
			>
			<nav class="sidebar__nav" >
				<div class="logo-wrapper">
					<img src="images/logo.png" alt="mark down" class="logo">
				</div>
				<ul class="sidebar__list">
					<li class="sidebar__item">
						<a href="#" 
							@click.prevent="showView('dashboard')" 
							:class="{ active: currentView === 'dashboard'}" 
							class="sidebar__link"
							>Dashboard</a>
					</li>
					<li class="sidebar__item">
						<a href="#" 
							@click.prevent="showView('preview')" 
							:class="{ active: currentView === 'preview'}" 
							class="sidebar__link"
							>Notes</a>
					</li>
					<li class="sidebar__item">
						<a href="#" 
							@click.prevent="showView('new')" 
							:class="{ active: currentView === 'new'}" 
							class="sidebar__link"
							>Create</a>
					</li>
					<li class="sidebar__item">
						<a href="#" 
							@click.prevent="showView('guides')" 
							:class="{ active: currentView === 'guides'}" 
							class="sidebar__link"
							>Guide</a>
					</li>
				</ul>
			</nav>
		</div>
		
		<!-- Views -->
		<main class="main">

			<!-- toolbar -->
			<div class="toolbar">
				<button class="hamburgar" @click="sidebarVisible = !sidebarVisible">
					<i class="mdi mdi-menu"></i>
				</button>
				<div class="tools">
					<button 
						class="btn-create" 
						@click.prevent="showView('new')"
						v-if="currentView != 'new'"
						>
						<i class="mdi mdi-note"></i>&nbsp;Create
					</button>
				</div>
			</div>

			<!--dashboard view-->
			<section class="main__view dashboard" v-if="currentView == 'dashboard'">
				<div class="dashboard__dashes">
					<div class="dash">
						<span class="dash__number">{{ notesCount }}</span>
						<span class="dash__text">Note(s) Created</span>
					</div>
					<div class="dash">
						<span class="dash__number">{{ favoritesCount }}</span>
						<span class="dash__text">Favorite(s)</span>
					</div>
				</div>
				<div class="recents-container">
					<h3>Recently viewed</h3>
					<div class="recents">
						<div class="notepad" v-for="(note, index) in recentNotes" :key="index">
							<h3 class="notepad__title">{{ note.title }}</h3>
							<button class="notepad__btn" @click="previewNote(note)">Preview</button>
						</div>
					</div>
				</div>
			</section>

			<!-- note preview -->
			<section class="main__view note-preview" v-else-if="currentView == 'preview'">
				<div class="search-box">
					<label for="key">Search</label>
					<input type="text" 
						name="key" 
						placeholder="Note title" 
						id="key" 
						v-model="key"
						/>
					<div class="suggested-results" v-if="matchedResults.length">
						<ul class="results-list">
							<li 
								class="result-item" 
								v-for="(note, index) in matchedResults" 
								:key="index" 
								@click="selectNote(note)"
								>
								{{ note.title }}
							</li>
						</ul>
					</div>
				</div>
				<div class="note-preview-board" v-if="selectedNote">
					<div class="action-btns">
						<button class="action-btn" 
							:class="{ 'action-star': selectedNote.favorite }"
							@click="markAsFavorite"
							>
							<i class="mdi mdi-star"></i>
						</button>
						<button class="action-btn action-edit" @click="editNote"><i class="mdi mdi-rename-box"></i></button>
						<button class="action-btn action-delete" @click="removeNote"><i class="mdi mdi-delete"></i></button>
					</div>
					<div class="note-preview-content" v-html="notePreview"></div>
				</div>
			</section>

			<!-- Create Note -->
			<section class="main__view create-note" v-else-if="currentView == 'new'">
				<form action="#" @submit.prevent="" id="newnote">
					<div class="form-group">
						<label for="title">Title</label>
						<input type="text" name="title" id="title" placeholder="Title..." v-model="newNote.title"/>
					</div>
					<div class="form-group">
						<label for="content">Note Content</label>
						<textarea name="content" id="content" placeholder="Type markdown note here..." v-model="newNote.content"></textarea>
					</div>
					<div class="form-group create-note__btn-bar">
						<button class="btn-preview" @click.prevent="previewNote">
							<i class="mdi mdi-note"></i>&nbsp;Notes
						</button>
						<button class="btn-create" @click.prevent="addNote">
							<i class="mdi mdi-plus"></i>&nbsp;Add Note
						</button>
					</div>
				</form>
			</section>

			<!-- Guides -->
			<section class="main__view guide" v-else>
				<div class="guide__board">
					<h1>Markdown Cheatsheet</h1>
					<p>
						A quick reference to the Markdown syntax. 
						<br>
						<span style="color: var(--primary);">All whitespaces after symbols are essential</span>
					</p>

					<!--Basic syntax-->
					<div style="margin-top: 2rem;">
						<h3>Basic Syntax</h3>
						<p>
							These are the elements outlined in John Gruber’s original design document. All Markdown applications support these elements 
						</p>
						<table class="table table-bordered">
						  <thead class="thead-light">
						    <tr>
						      <th>Element</th>
						      <th>Markdown Syntax</th>
						    </tr>
						  </thead>
						  <tbody>
						    <tr>
						      <td><a href="/basic-syntax/#headings">Heading</a></td>
						      <td><code># H1<br>
						          ## H2<br>
						          ### H3</code></td>
						    </tr>
						    <tr>
						      <td><a href="/basic-syntax/#bold">Bold</a></td>
						      <td><code>**bold text**</code></td>
						    </tr>
						    <tr>
						      <td><a href="/basic-syntax/#italic">Italic</a></td>
						      <td><code>*italicized text*</code></td>
						    </tr>
						    <tr>
						      <td><a href="/basic-syntax/#blockquotes-1">Blockquote</a></td>
						      <td><code>&gt; blockquote</code></td>
						    </tr>
						    <tr>
						      <td><a href="/basic-syntax/#ordered-lists">Ordered List</a></td>
						      <td><code>
						        1. First item<br>
						        2. Second item<br>
						        3. Third item<br>
						      </code></td>
						    </tr>
						    <tr>
						      <td><a href="/basic-syntax/#unordered-lists">Unordered List</a></td>
						      <td>
						        <code>
						          - First item<br>
						          - Second item<br>
						          - Third item<br>
						        </code>
						      </td>
						    </tr>
						    <tr>
						      <td><a href="/basic-syntax/#code">Code</a></td>
						      <td><code>`code`</code></td>
						    </tr>
						    <tr>
						      <td><a href="/basic-syntax/#horizontal-rules">Horizontal Rule</a></td>
						      <td><code>---</code></td>
						    </tr>
						    <tr>
						      <td><a href="/basic-syntax/#links">Link</a></td>
						      <td><code>[title](https://www.example.com)</code></td>
						    </tr>
						    <tr>
						      <td><a href="/basic-syntax/#images-1">Image</a></td>
						      <td><code>![alt text](image.jpg)</code></td>
						    </tr>
						  </tbody>
						</table>
					</div>
					
					<!--Extended syntax-->
					<div style="margin-top: 2rem;">
						<h3>Extended Syntax</h3>
						<p>
							These elements extend the basic syntax by adding additional features. Not all Markdown applications support these elements.
						</p>
						<table class="table table-bordered">
						  <thead class="thead-light">
						    <tr>
						      <th>Element</th>
						      <th>Markdown Syntax</th>
						    </tr>
						  </thead>
						  <tbody>
						    <tr>
						      <td><a href="/extended-syntax/#tables">Table</a></td>
						      <td><code>
						          | Syntax      | Description |<br>
						          | ----------- | ----------- |<br>
						          | Header      | Title       |<br>
						          | Paragraph   | Text        |
						      </code></td>
						    </tr>
						    <tr>
						      <td><a href="/extended-syntax/#fenced-code-blocks">Fenced Code Block</a></td>
						      <td><code>```<br>
						      {<br>
						      &nbsp;&nbsp;"firstName": "John",<br>
						      &nbsp;&nbsp;"lastName": "Smith",<br>
						      &nbsp;&nbsp;"age": 25<br>
						      }<br>
						      ```
						      </code></td>
						    </tr>
						    <tr>
						      <td><a href="/extended-syntax/#footnotes">Footnote</a></td>
						      <td><code>
						        Here's a sentence with a footnote. [^1]<br><br>

						        [^1]: This is the footnote.
						      </code></td>
						    </tr>
						    <tr>
						      <td><a href="/extended-syntax/#heading-ids">Heading ID</a></td>
						      <td><code>### My Great Heading {#custom-id}</code></td>
						    </tr>
						    <tr>
						      <td><a href="/extended-syntax/#definition-lists">Definition List</a></td>
						      <td><code>
						        term<br>
						        : definition
						      </code></td>
						    </tr>
						    <tr>
						      <td><a href="/extended-syntax/#strikethrough">Strikethrough</a></td>
						      <td><code>~~The world is flat.~~</code></td>
						    </tr>
						    <tr>
						      <td><a href="/extended-syntax/#task-lists">Task List</a></td>
						      <td><code>
						        - [x] Write the press release<br>
						        - [ ] Update the website<br>
						        - [ ] Contact the media
						      </code></td>
						    </tr>
						  </tbody>
						</table>
					</div>
				</div>
			</section>
		</main>
	</div>

	<!--markedjs-->
	<script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
	<!-- moment -->
	<script src="https://cdn.jsdelivr.net/npm/moment@2.26.0/moment.min.js"></script>
	<script src="js/app.js" ></script>
</body>
</html>